<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dog App</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

{{!-- <body class="black"> --}}

  <!--Main Navigation-->
  <div class="header">

    <!-- Navbar -->

    {{!-- --This will move the dog icon all the way to the left-- --}}
{{!-- <nav class="navbar navbar-expand-lg"></nav> --}}

{{!-- This moves it all the way to the right --}}
   <nav class="navbar" id="navbar">
        <h1><strong>The Barker</h1></strong>
        <!-- Right -->
        <i class="fas fa-dog mr-4" id="icon"></i>
   </nav>
   
  <!-- Navbar -->
</div>
    
 <!-- <body> -->
  <body>
    <div class="container-fluid" id= "main-container">
      <div class="row">

        <div class="col-md-3">
          <!-- Sidebar -->
          <div id="sidebar">
            <img id="userImage" src="/images/Smile.jpg" alt="dog picture">
              <br>
              <br>
              <a class="tabButton list-group-item active waves-effect" 
                id="getmatches" 
                onclick="showWindow('matches');">
                <i class="	fas fa-dog mr-4"></i>Matches</a>
              <a class="tabButton list-group-item waves-effect" 
                id="getprofile" 
                onclick="showWindow('profile');">
                <i class="	fas fa-dog mr-4"></i>Profile</a>
              <a class="tabButton list-group-item waves-effect" 
                id="getmessages" 
                onclick="showWindow('messages');">
                <i class="	fas fa-dog mr-4"></i>Messages</a>

    <script>
        function showWindow(selectedWindow) {
          $(".tabButton").removeClass("active");
          $("#get" + selectedWindow).addClass("active");
          $(".content-window").hide();
          $('#'+ selectedWindow).show();
        };
    </script>

          </div>
        <!-- Sidebar -->
        </div>
        <div class="col-md-8">
          <div class="content-window" id="matches">
            <img id="matchedImage" src="/images/dragon.jpg" alt="dog picture">
          </div>

          <div class="content-window" id="profile">
            <img id="matchedImage" src="/images/Smile.jpg" alt="dog picture">
          </div>

          <div class="content-window" id="messages">
            <img id="matchedImage" src="/images/dragon.jpg" alt="dog picture">
              <p>dfdfasdfsafd</p>
          </div>


        </div>
      </div>
    </body>






    
  <footer id="test">
  </footer>







  {{!-- <script>
$function(){
  $("profile").hide();
});
  </script>  --}}


</html>
