<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dog App</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="mainProfile/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="mainProfile/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="mainProfile/css/style.min.css" rel="stylesheet">

</head>

<body class="black">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container"> 

      <!-- Brand -->
      <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
        <strong>The Barker</strong>
      </a> 

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons"> 
           <li class="nav-item">
            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded"
              target="_blank">
              <i class="fab fa-github mr-2"></i>GitHub
            </a>
          </li>
        </ul>

      </div>
      </nav>
    </div>
  <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <!-- This is where the profile picture goes> -->
        {{!-- <img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.0-9/50063306_10161281891285301_1494680375996186624_n.jpg?_nc_cat=108&_nc_ht=scontent-msp1-1.xx&oh=2e894311421eae05b45b889133b24668&oe=5D628A4D" class="img-fluid" alt=""> --}}
      

      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item active waves-effect">
          <i class="	fas fa-dog mr-4"></i>Matches
        </a>
        <a class="nav-link list-group-item list-group-item-action waves-effect" href="http://facebook.com" target= "facebook">
          <i class="	fas fa-dog mr-4"></i>Profile</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="	fas fa-dog mr-4"></i>Messages</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="	fas fa-dog mr-4"></i>Matches</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">
          <i class="	fas fa-dog mr-4"></i>Settings</a>
      </div>

    </div>
    <!-- Sidebar -->

  </header>
  
 <!-- <body> -->
  <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Jumbotron-->
      <section class="card blue-gradient wow fadeIn">
            <!--Card content-->
            <div class= "col-8 card-body"id="messages"> </div>
          <!--Grid column-->

<!--Card content-->
            <div class= "col-8 card-body"id="signUp">
               
            </div>

          <!--Grid column-->

        </section>
        <!-- Section: Jumbotron -->
        </div>
            <!-- grid container -->
       
        </main>
        <!--container-->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>

  
</body>

</html>
