<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">

</head>

<body class="black">

    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
                    <strong>The Barker</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://enterinthelinkhere" target="_blank">About The Barker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://enterinthelinkhere" target="_blank">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://enterinthelinkhere" target="_blank">Browse Your
                                Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://enterinthelinkhere" target="_blank">Visit the Blog</a>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="enterlinkhere" class="nav-link" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
            <a href="https://enterlinkhere" class="nav-link" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li> -->
                        <li class="nav-item">
                            <a href="https://enterlinkhere" class="nav-link border border-light rounded"
                                target="_blank">
                                <i class="fab fa-github mr-2"></i>GitHub
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

        <!--Main layout-->
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn">

                <!-- Heading -->
                <!-- <h2 class="my-5 h2 text-center">Checkout form</h2> -->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <form class="card-body">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6 mb-2">

                                        <!--firstName-->
                                        <div class="md-form ">
                                            <input type="text" id="firstName" class="form-control">
                                            <label for="firstName" class="">Doggy name</label>
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6 mb-2">

                                        <!--lastName-->
                                        <div class="md-form">
                                            <input type="text" id="lastName" class="form-control">
                                            <label for="lastName" class="">Doggy Age</label>
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-12 mb-4">
                                        <div class="md-form">
                                            <input type="text" id="lastName" class="form-control">
                                            <label for="lastName" class="">Breed</label>
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-6 mb-4">

                                        <label for="state">State</label>
                                        <select class="custom-select d-block w-100" id="state" required>
                                            <option value="">Choose...</option>
                                            <option>California</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-6 mb-4">

                                        <label for="zip">Zip</label>
                                        <input type="text" class="form-control" id="zip" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Zip code required.
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->



                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <div class="pt-4">
                    <a class="btn btn-outline-white" href="enterlinkhere" target="_blank" role="button">Submit
                        <i class="fas fa-dog mr-4"></i>
                    </a>
                </div>
            </div>
        </main>
        <!--Main layout-->

        <!--Footer-->

        <!--/.Footer-->

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Initializations -->
        <script type="text/javascript">
            // Animations initialization
            new WOW().init();
        </script>
</body>

</html>