<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet">
    <!-- script to save the values in your input fields, so they don't go away if you refresh -->
    <script type="text/javascript" src="/js/saveinput.js"></script>

</head>

<body class="black">

    <!--Main Navigation-->

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
                    <strong>The Barker</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">


                </div>

            </div>
        </nav>
        <!-- Navbar -->
        {{!-- name (not null)
        email (not null)
        password (not null)
        breed (not null)
        description (not null)
        location (not null)
        birthdate
        sex
        imgURL
        visible
        authtoken
        validated --}}

        <!--Main layout-->
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn">

                <!-- Heading -->
                <!-- <h2 class="my-5 h2 text-center">Checkout form</h2> -->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-9 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <form class="card-body">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-8 mb-2">

                                        <!--name-->
                                        <div class="md-form ">
                                            <input type="text" name="name" class="form-control" required>
                                            <label for="name" class="">Doggy Name</label>
                                        </div>

                                    </div>
                                    <div class="col-md-4 mb-2">

                                        <!--age-->
                                        <div class="md-form">
                                            <input type="number" name="age" class="form-control" required>
                                            <label for="age" class="">Doggy Age</label>
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-12 mb-4">
                                        <!--breed-->
                                        <div class="md-form">
                                            <label for="breed" class="">Doggy Breed</label>
                                            <input type="text" name="breed" class="form-control" required>
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-6 mb-4">
                                        <!--location-->
                                        <div class="md-form">
                                            <input type="text" name="location" class="form-control">
                                            <label for="location" class="">Doggy Location</label>
                                        </div>
                                    
                                    </div>

                                    {{!-- sex --}}
                                    <div class="col-lg-4 col-md-6 mb-4">
                                            <br>
                                            <select class="form-control" name="sex" onchange="$('#defaultOption').remove()">
                                                Sex:
                                                <option value="" id="defaultOption" disabled selected>Doggy sex</option>
                                                <option>male</option>
                                                <option>female</option>
                                            </select>
                                    </div>

                                    {{!-- bio/description --}}
                                    <div class="col-12">
                                        <textarea class="form-control" name="description" rows="3" placeholder="Tell us something about your dog and yourself." required></textarea>
                                    </div>

                                    {{!-- <div class="col-lg-4 col-md-6 mb-4">

                                        <label for="state">State</label>
                                        <select class="custom-select d-block w-100" id="state" required>
                                            <option value="">Choose...</option>
                                            <option>Minnesota</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>

                                    </div> --}}

                                    <!--email-->
                                    <div class="col-12 mb-4">

                                        <div class="md-form">
                                            <label for="email">email</label>
                                            <input type="text" class="form-control" name="email" required>
                                            <div class="invalid-feedback">
                                                Email required.
                                            </div>
                                        </div>

                                    </div>

                                    <!--password-->
                                    <div class="col-12 mb-4">
                                    
                                        <div class="md-form">
                                            <label for="password">password</label>
                                            <input type="password" class="form-control" name="password" required>
                                            <div class="invalid-feedback">
                                                Password required.
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="col-12 mb-4">
                                    
                                        <div class="md-form">
                                            <label for="confirmPassword">confirm password</label>
                                            <input type="password" class="form-control" name="confirmPassword" required>
                                            <div class="invalid-feedback">
                                                Confirm password required.
                                            </div>
                                        </div>
                                    
                                    </div>
    
                                    <div class="col-12"
                                    style="color: rgb(72, 72, 72); text-align: center">
                                        Profile Image:
                                        <hr>
                                    </div>

                                    {{!-- image url --}}
                                    <div class="col-lg-4 col-md-6 mb-4">
                                    
                                        <div class="md-form">
                                            <label for="imgURL">image url</label>
                                            <input type="text" class="form-control" name="imgURL" 
                                                placeholder="https://yt3.ggpht.com/a-/AAuE7mADdvvvDy2jJr4ajyHsv0Q26gTURdLpWQbJgg=s900-mo-c-c0xffffffff-rj-k-no"
                                                value="https://yt3.ggpht.com/a-/AAuE7mADdvvvDy2jJr4ajyHsv0Q26gTURdLpWQbJgg=s900-mo-c-c0xffffffff-rj-k-no"
                                                onchange="previewImg()">
                                        </div>
                                    
                                    </div>
                                    {{!-- image preview --}}
                                    <div class="col-lg-4 col-md-6 mb-4">
                                        <img id="profileImg" width="100%" src="https://yt3.ggpht.com/a-/AAuE7mADdvvvDy2jJr4ajyHsv0Q26gTURdLpWQbJgg=s900-mo-c-c0xffffffff-rj-k-no">
                                    </div>

                                    {{!-- fail message --}}
                                    <div style="color: red" id="errorMsg">
                                        <br>
                                    </div>

                                    {{!-- submit button --}}
                                    <div class="col-12">
                                        <a style="float:left" width="100%" class="btn btn-outline-black" onclick="submit()" target="_blank" role="button">Submit
                                            <i class="fas fa-dog mr-4"></i>
                                        </a>
                                        <a style="float:right" width="100%" class="btn btn-outline-black" onclick="cancel()" target="_blank" role="button">Cancel
                                        </a>
                                    </div>

                                </div>
                                <!--/row-->


                            </form>

                        </div>
                        <!--Grid column-->


                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </main>
        <!--Main layout-->

        <!--Footer-->

        <!--/.Footer-->

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Initializations -->
        <script type="text/javascript">
            // Animations initialization
            new WOW().init();
        </script>
        <script>
            function previewImg() {
                $('#profileImg')
                    .attr('src', $('input[name="imgURL"]').val());
            }
            function submit() {
                var fields = [
                    "name", // (not null)
                    "email", // (not null)
                    "password", // (not null)
                    "confirmPassword",
                    "breed", // (not null)
                    "description", // (not null)
                    "location", // (not null)
                    "birthdate",
                    "sex",
                    "imgURL"
                    // visible,
                    // authtoken,
                    // validated
                ];
                var doge = {};
                // get all fields from the form
                fields.forEach(field => {
                    doge[field] = $("input[name='" + field + "']").val() || $("textarea[name='" + field + "']").val();
                });
                // post a request
                $.ajax({
                    type: "POST",
                    url: "/api/newdoge",
                    data: doge,
                    success: (res) => {
                        $("body").empty().text("Profile created successfully.  Logging you in...");
                        setTimeout(() => {
                            window.location.href = "/home/" + res.id;
                        }, 3000)
                    },
                    error: (jqXHR, textStatus, error) => {
                        // display error message
                        console.log(JSON.stringify(jqXHR.responseText));
                        $("#errorMsg").empty().text(jqXHR.responseText);
                    }
                })
            }
            function cancel() {
                window.location.href = "/";
            }
        </script>
</body>

</html>