.list-group-item {
  line-height: 2.5;
}
#chatField {
    position: fixed;
    bottom: 0
}
.paragraphButton {
    border: 1px solid black;
}
#errorMsg {
    color: red;
}

#main-container{
  background-color: black;
  width: 100%;
  height: auto;
}

#navbar{
  color:black;
}
#test{
  background-color: white;
  height:auto;
}
.tabButton {
  cursor: pointer;
}
#footer{
  background-color: black;
}
h3{
  color: white;
}
/* #secondPic{
  padding-left: 10%;
} */

#brandLogo {
  font-size: 22pt; 
  position: relative; 
  left: 50%; 
  transform: translate(-50%, -50%)
}