.list-group-item {
  line-height: 2.5;
}
#chatField {
    position: fixed;
    bottom: 0
}
.paragraphButton {
    border: 1px solid black;
}
#errorMsg {
    color: red;
}

#main-container{
  background-color: black;
  width: 100%;
  height: auto;
}

#navbar{
  color:black;
}
#test{
  background-color: white;
  height:auto;
}
#sidebar{
  /* background-color: red; */
  height:auto;
  border:red solid;
}
#userImage{
  width: 50%;
  height:auto;
}

#matchedImage{
  width: 30%;
  height:auto;
  border:solid;
}

.content-window{
  /* width: 75%; */
  /* height:auto; */
  border: blue solid;
  /* float:right; */
}

.tabButton {
  cursor: pointer;
}
#footer{
  background-color: black;
}
h3{
  color: white;
}
/* #secondPic{
  padding-left: 10%;
} */